[submodule "kicad_scripts"]
	path = kicad_scripts
	url = https://github.com/NilujePerchut/kicad_scripts.git
	branch = master
[submodule "InteractiveHtmlBom"]
	path = InteractiveHtmlBom
	url = https://github.com/openscopeproject/InteractiveHtmlBom.git
	branch = master
[submodule "pcb-tools"]
	path = pcb-tools
	url = https://github.com/curtacircuitos/pcb-tools.git
	branch = master
[submodule "pcb-tools-extension"]
	path = pcb-tools-extension
	url = https://github.com/opiopan/pcb-tools-extension.git
	branch = master
[submodule "GerberTools"]
	path = GerberTools
	url = https://github.com/ThisIsNotRocketScience/GerberTools.git
	branch = master
